body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0px;
    background-color: #ffffff;
}

.header-content {
    flex-direction: row;
    align-items: center;
    display: flex;
    border: 0px solid blue;
    justify-content: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    border: 0px solid blue;
    width: 80%;
}

img {
    border: solid 0px #42515f;
    height: 50px;
    width: 50px;
}

.heading{
    align-items: center;
    color: blue;
    width: 90%;
    text-align: center;
}
.per-text {
    color: rgb(0, 89, 255);
    text-transform: capitalize;
}
.per-address {
    color: darkblue;
}
.form-content {
background-color: #f7f7f7;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
.form {
width: 60%;
padding: 30px 30px;
background: #ffffff ;
border-radius: 8px;
}

.form-head {
display: flex;
flex-direction: row;
color: white;
font: normal 35px/80px Roboto;
background-color: #008CFF;
border-radius: 4px;
}

.form-head-text {
width: 100%;
text-align: center;
}
.cancel-img {
    width: 10% ;
    padding-top: 3mm;
}
